.Button {
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

.Button > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: rgb(0, 145, 31);
}

.Danger {
    color: #944317;
}